*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
table
{
    margin-left: auto;
    margin-right: auto;
}
table tr th
{
    padding: 30px;
    padding-bottom: 5px;
}
table tr td
{
    padding: 20px;
    text-align: center;
}
table tr th
{
    width: 200px;
    height: 100px;
    font-size: 30px;
}
table tr th i
{
    padding: 10px;
}
table caption
{
    font-size: 35px;
    padding: 10px 20px;
}
table tr td:nth-child(1)
{
    background-color:cadetblue;
}
table tr th:nth-child(1)
{
    background-color: cadetblue;
}

table tr :nth-child(2)
{
    background-color:rgb(92, 141, 172);
}
table tr :nth-child(3)
{
    background-color: rgb(116, 123, 160);
}
table tr :nth-child(4)
{
    background-color: turquoise;
} 
button
{
    padding: 20px 30px;
    background-color:palevioletred;
    border-radius: 20px;
    color: white;
}
table tr:nth-child(2)
{
    color:green;
    font-size: 25px;
}
tbody tr:nth-child(odd)
{
    background-color: khaki;
}
.check
{
    color:green;
    font-size: 20px;
}
.close
{
    color:red;
    font-size: 20px;
}
button:hover
{
    background-color:mediumpurple;
}